* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./images/bg-intro-desktop.png'), #ff7978;
    padding: 2rem 4rem;
    
}

section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif !important;

    .left {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        gap: 20px;

        h1 {
            font-size: 2.5rem;
            font-weight: 800;
            color: #000;
            text-transform: uppercase;
        }

        p {
            font-size: 1.5rem;
            font-weight: 500;
            color: #000;
        }
    }

    .right {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        gap: 20px;
        margin: 2rem;

        .title {
            width: 100%;
            height: 10vh;
            background-color: #5d54a3;
            padding: 2rem;
            border-radius: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 9px 4px 3px #dc6767;

            h1 {
                text-align: center;
                color: #fff;
                font-weight: 400;
            }

        }

        form {
            width: 100%;
            height: fit-content;
            background-color: #fff;
            padding: 2rem;
            border-radius: 1rem;
            display: flex;
            justify-content: start;
            align-items: start;
            flex-direction: column;
            gap: 20px;
            padding: 2rem;

            input[type=text],
            input[type=email],
            input[type=password] {
                width: 100%;
                height: 8vh;
                border: 2px solid #00000054;
                border-radius: .3rem;
                padding-left: 2rem;
                font-size: 1rem;
                font-weight: 900;
                color: #000000a4;

                &::placeholder {
                    font-size: 1rem;
                    font-weight: 900;
                    color: #000000a4;
                    text-transform: capitalize;
                }


            }

            button {
                width: 100%;
                height: 8vh;
                background-color: #37cc8a;
                color: #fff;
                border: none;
                font-size: 1.4rem;
                text-transform: capitalize;
                font-weight: 600;
                border-radius: .4rem;
                cursor: pointer;
            }

            small {
                width: 100%;
                text-align: center;
                font-size: 1rem;
                text-transform: capitalize;

                strong {
                    color: #dc6767;
                }
            }

        }
    }

}

#errorFN, #errorLN,#errorEM,#errorPS{
    width: 100%;
    text-align: end;
    color: #dc6767;
    font-weight: 900;
    padding-right: 2rem;
}